extends layout

block stylesheets
  link(rel='stylesheet', href='/css/index.css')

block content
  #content-index
    .container
      //- data-interval=false prevents carousel from auto-rotating, use for debug only
      //- set to non-zero integer (milisecond) to make the carousel cycle again
      div(data-ride='carousel', data-interval='5000').carousel.slide#carousel-featured
        ol.carousel-indicators
          li(data-target='#carousel-featured', data-slide-to='0').active
          li(data-target='#carousel-featured', data-slide-to='1')
          li(data-target='#carousel-featured', data-slide-to='2')
          li(data-target='#carousel-featured', data-slide-to='3')
          li(data-target='#carousel-featured', data-slide-to='4')
          li(data-target='#carousel-featured', data-slide-to='5')
          li(data-target='#carousel-featured', data-slide-to='6')
          li(data-target='#carousel-featured', data-slide-to='7')
          li(data-target='#carousel-featured', data-slide-to='8')
        //- We need 9 different 'featured'
        //- Replace item backgrounds with nice backgrounds
        //- Replace placeholder images with user avatars/logos
        .carousel-inner
          .item.bg1.active
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg2
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg3
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg1
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg2
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg3
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg1
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg2
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
          .item.bg3
            .item-inner
              .item-content
                .row
                  .col-md-3
                    a(href='#').thumbnail
                      img(src='http://placehold.it/200x200/39dbac/ffffff').img-circle
                  .col-md-9.text-right
                    h4 Freelancer/Servername
                    .rating-block
                      span Rating:
                      //- Replace with actual rating later
                      -var userRating = 8.5;
                      -var p = userRating * 10;
                      .progress
                        if (userRating <= 4)
                          .progress-bar.progress-bar-danger(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 4 && userRating <= 7.5)
                          .progress-bar.progress-bar-warning(style="width: #{p}%;")
                            | #{userRating}/10
                        else if (userRating > 7.5)
                          .progress-bar.progress-bar-success(style="width: #{p}%;")
                            | #{userRating}/10
                    .description
                      p.text-justify
                        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus
                        | sed tortor adipiscing, rhoncus risus id, laoreet mauris. Vestibulum
                        | id est a quam pulvinar sodales eget quis ipsum. Mauris consectetur
                        | mi quis egestas varius. Integer placerat turpis eget ligula
                        | dignissim venenatis a vitae justo. Nulla molestie vehicula lacinia.
          //-------------------
