extends layout


block content
    <br><br><br><br>
    div#container(style='width: 900; height:400; text-align:center; margin:auto;')
      div#carousel-example-generic.carousel.slide(data-ride='carousel')
        ol.carousel-indicators
          li.active(data-target='#carousel-example-generic', data-slide-to='0')
          li(data-target='#carousel-example-generic', data-slide-to='1')
          li(data-target='#carousel-example-generic', data-slide-to='2')
          li(data-target='#carousel-example-generic', data-slide-to='3')
          li(data-target='#carousel-example-generic', data-slide-to='4')
          li(data-target='#carousel-example-generic', data-slide-to='5')
          li(data-target='#carousel-example-generic', data-slide-to='6')
          li(data-target='#carousel-example-generic', data-slide-to='7')
          li(data-target='#carousel-example-generic', data-slide-to='8')
        
        //NEED 9 DIFFERENT FEATURED
        //REPLACE ITEM BACKGROUNDS WITH NICE BACKGROUNDS
        //REPLACE ICON IMAGES WITH USER ICONS 

        div.carousel-inner
          div.item.active(style='background: url(/images/sliderbg_1.jpg) no-repeat;  background-size:cover; width: 900; height:400;')
            

            img(src='http://placehold.it/900x400', alt='...', style='width: 200px; height: 200px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; no-repeat; box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); position: absolute; margin-top: 95px; margin-left:110px;')

            a(href="#linktopage", style="color: #424863")
              h4(style='position: absolute; margin-top: 110px; margin-left:330px;', href='#linktopage') Freelancer/Servername here
            h6(style='position: absolute; margin-top: 150px; margin-left:330px;') Rating
              -var stars = 10;

              ///////////////////////////////////
              //- REPLACE WITH ACTUAL RATING LATER
              ///////////////////////////////////
              -var p = stars*10;
              .progress(style="position: absolute; margin-top: -18px; margin-left: 80px; width: 220px;")
                if stars <= 4
                  .progress-bar.progress-bar-danger(style="width: #{p}%;")
                    | #{stars}/10
                else if stars > 4 && stars <= 7.5
                  .progress-bar.progress-bar-warning(style="width: #{p}%;")
                    | #{stars}/10
                else if stars > 7.5 && stars <=10
                  .progress-bar.progress-bar-success(style="width: #{p}%;")
                    | #{stars}/10
            div(style='position: absolute; text-align: left; margin-top: 210px; margin-left: 330px; width: 372px; height: 100px; overflow: auto;') Description here herhe huwehfsoidhfosi dhsiodhf sopdifh sodpfihsdopifh sodpfihs dofihsdpofihsd poifhsdopifh sdopfihsdpiof hsdopfihsdpofihsdopifhopsihoisdf oishdfopih sdoifhsdopi fhosidhfoisdhfiohs odifhoisdhof hsodfhso idfhosi dfiphsdofi hsdopfh sdopfhsopdfho psdhfopsdfhi opsdhfoihsdiofhsdohi

          -for(var i = 1; i < 9; i++)

            div.item(style='background: url(/images/sliderbg_#{i%3+1}.jpg) no-repeat;  background-size:cover; width: 900; height:400;')
              

              img(src='http://placehold.it/900x400', alt='...', style='width: 200px; height: 200px; border-radius: 150px; -webkit-border-radius: 150px; -moz-border-radius: 150px; no-repeat; box-shadow: 0 0 8px rgba(0, 0, 0, .8); -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8); -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8); position: absolute; margin-top: 95px; margin-left:110px;')

              a(href="#linktopage", style="color: #424863")
                h4(style='position: absolute; margin-top: 110px; margin-left:330px;') Freelancer/Servername here
              h6(style='position: absolute; margin-top: 150px; margin-left:330px;') Rating
                -var stars = 10;

                ///////////////////////////////////
                // REPLACE WITH ACTUAL RATING LATER
                ///////////////////////////////////
                -var p = stars*10;
                .progress(style="position: absolute; margin-top: -18px; margin-left: 80px; width: 220px;")
                  if stars <= 4
                    .progress-bar.progress-bar-danger(style="width: #{p}%;")
                      | #{stars}/10
                  else if stars > 4 && stars <= 7.5
                    .progress-bar.progress-bar-warning(style="width: #{p}%;")
                      | #{stars}/10
                  else if stars > 7.5 && stars <=10
                    .progress-bar.progress-bar-success(style="width: #{p}%;")
                      | #{stars}/10
              div(style='position: absolute; text-align: left; margin-top: 210px; margin-left: 330px; width: 372px; height: 100px; overflow: auto;') Description here herhe huwehfsoidhfosi dhsiodhf sopdifh sodpfihsdopifh sodpfihs dofihsdpofihsd poifhsdopifh sdopfihsdpiof hsdopfihsdpofihsdopifhopsihoisdf oishdfopih sdoifhsdopi fhosidhfoisdhfiohs odifhoisdhof hsodfhso idfhosi dfiphsdofi hsdopfh sdopfhsopdfho psdhfopsdfhi opsdhfoihsdiofhsdohi
        // Controls
        a.left.carousel-control(href='#carousel-example-generic', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left
        a.right.carousel-control(href='#carousel-example-generic', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right

    ///////////////////
    //Stats start
    //////////////////3
    div.stats(style=" margin: 40px auto 0 auto; height: 160px; width: 1030px;")
        -var programmers = 0;
        -var moderators = 0;
        -var managers = 0;
        -var web = 0;
        -var tusers = 0;
        -var cprojs = 0;
        div.programmers(style=" position: absolute; height: 100px; width: 100px; margin: 15px auto 15px 0px; text-align: center;")
            a(class="btn" href="#")
                img(src="/icons/pc.svg", height="100")
            <br>
            p(style="position: absolute; margin: 0px auto 0 60px; font-size: 15px; font-weight: bold;") #{programmers}
            p(style="position: absolute; margin-left: 42px;") <br> Server Developers

        div.moderators(style=" position: absolute; height: 100px; width: 100px; margin: 15px auto 15px 250px; text-align: center;")
            a(class="btn" href="#")
                img(src="/icons/clipboard.svg", height="100", width="100")
            <br>
            p(style="position: absolute; margin: 0px auto 0 35px; font-size: 15px; font-weight: bold;") #{moderators} 
            p(style="position: absolute; margin-left: 28px;")<br> Server Staff

        div.managers(style=" position: absolute; height: 100px; width: 100px; margin: 15px auto 15px 470px; text-align: center;")
            a(class="btn" href="#")
                img(src="/icons/settings.svg", height="100", width="100")
            <br>
            p(style="position: absolute; margin: 0px auto 0 40px; font-size: 15px; font-weight: bold;") #{managers} 
            p(style="position: absolute; margin-left: 28px;")<br> Server Managers

        div.web(style=" position: absolute; height: 100px; width: 100px; margin: 15px auto 15px 670px; text-align: center;")
            a(class="btn" href="#")
                img(src="/icons/user-interface.svg", height="100", width="100")
            <br>
            p(style="position: absolute; margin: 0px auto 0 40px; font-size: 15px; font-weight: bold;") #{web} 
            p(style="position: absolute; margin-left: 23px;")<br> Web Developers

        div.stats(style=" position: absolute; height: 100px; width: 200px; margin: 15px auto 15px 830px; text-align: center;")
            div.tusers(style="position: absolute; margin: 35px;") 
                p <strong>#{tusers}</strong>&nbsp;&nbsp;&nbsp;&nbsp; users have joined.
            div.cprojs(style="position: absolute; margin: 110px 15px 15px 15px; ") 
                p <strong>#{cprojs}</strong> &nbsp;&nbsp;&nbsp;&nbsp;projects have been completed.



    ///////////////////////
    //HOW IT WORKS MINI
    //////////////////////


    <br><br><br><br><br>
    div.howmini(style="height: 120px; width: auto; background-color: rgba(0, 0, 0, .2); box-shadow: 0 0 8px rgba(0, 0, 0, .8); ")
      div.contain(style="width: 900px; margin: auto;")
          div.hire(style="height: 100px; width:200px; margin-top: 10px; background-color: rgba(0, 0, 0, .19); display: inline-block; box-shadow: 0 0 8px rgba(0, 0, 0, .8);")

              <a id="popoverHire" class="btn btn-primary" href="#linkToLongHire" data-content="blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah blah" rel="popover" data-placement="top" data-original-title="Hire" data-trigger="hover" style="width: 100px; margin: 30px 50px auto 50px;">Hire</a>

          div.collaborate(style="height: 100px; width:200px; margin-left: 150px; margin-top: 10px; background-color: rgba(0, 0, 0, .19); display: inline-block; box-shadow: 0 0 8px rgba(0, 0, 0, .8);")

              <a id="popoverCollaborate" class="btn btn-primary" href="#linkToLongCollab" data-content="Collaborate text" rel="popover" data-placement="top" data-original-title="Collaborate" data-trigger="hover" style="width: 108px; margin: 30px 50px auto 50px;">Collaborate</a>

          div.pay(style="height: 100px; width:200px; margin-left: 150px;  margin-top: 10px;background-color: rgba(0, 0, 0, .19); display: inline-block; box-shadow: 0 0 8px rgba(0, 0, 0, .8);")

              <a id="popoverPay" class="btn btn-primary" href="#linkToLongPay" data-content="Pay text" rel="popover" data-placement="top" data-original-title="Pay Safely" data-trigger="hover" style="width: 100px; margin: 30px 50px auto 50px;">Pay Safely</a>




